<!DOCTYPE html>

<html lang="en">

  

<head>

    <meta charset="UTF-8">

    <title>Edit squirrel sighting</title></head>

<body>
<h2>Edit a new sighting of squirrel</h2></center>
<form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  <table border="1">
    {% for field in form.visible_fields %}
      <tr>
        <th>{{ field.label_tag }}</th>
        <td>
          {{ field.errors }}
          {{ field }}
        </td>
      </tr>
    {% endfor %}
  </table>
  <input type='submit' value='Save' />
  <a href="{{sqid}}/delete/"><button type="button">Delete Sighting</button></a>
</form>
</body>
</html>
