<DOCTYPE! html>
<html>
<head>
<title> General Information About Sighting Statistics  </title>
<meta charset="utf-8">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sightings/style.css' %}">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	  background-color: #dddddd;
} 

</style>
</head>
<body>
	<h2> <font color="SlateBlue"> General Statistics of Sightings </font> </h2>
	<ul style="list-style-type:square;">
	<li>Counts of Different Sightings: {{counts}}</li>
	<br>
	<li>The Minimum Latitiude: {{a.min_latitude}}</li>
	<br>
	<li>The Maximum Latitiude: {{a.max_latitude}}</li>
	<br>
	<li>The average of Latitiude: {{a.average_latitude}}</li>
	<br>
	<li>The Minimum Longitude: {{b.min_longitude}}</li>
	<br>
	<li>The Maximum Longitude: {{b.max_longitude}}</li>
	<br>
	<li>The average of Longitude: {{b.average_longitude}}</li>
	<br>
	<li>Count of Shift: {{c}}</li>
	<br>
	<li>Count of Squirrels with Different Ages: {{d}}</li>
	<br>
	<li>Count of Squirrel with Different Primary Fur Color: {{e}}</li></ul>



	<a href="/map/" class="button--style-red">
    	<button type="button" class="btn btn-primary" style="background:rgb(0, 115, 230)">

		<font size=4 color='white'>View the map of sightings</font>

  	</button>
	</a>
	
	<a href="/sightings/add/" class="button--style-red" >
    	<button type="button" class="btn btn-primary" style="background:rgb(0, 115, 230)">

		<font size=4 color='white'>Add a new sighting</font>

  	</button>
	</a>

	<a href="/sightings" class="button--style-red" >
    	<button type="button" class="btn btn-primary" style="background:rgb(0, 115, 230)">

		<font size=4 color='white'>Return to the previous sightings page</font>

  	</button>
	</a>


	<h2> <font color="SlateBlue"> Detailed Statistics of Sightings </font> </h2>

	<table>
	<th>Squirrel ID</th>
     	<th>Longitude</th>
	<th>Lactitude</th>
	<th>Age</th>
	<th>Hectare_Squirrel_Number</th>
	<th>Date</th>
	<th>Running</th>	
	{% for squirrel in squirrels %}
	   <tr> 
		   <td>{{squirrel.Unique_Squirrel_ID}}</td>
		   <td>{{squirrel.X}}</td>
		   <td>{{squirrel.Y}}</td>
		   <td>{{squirrel.Age}}</td>
		   <td>{{squirrel.Hectare_Squirrel_Number}}</td>
		   <td>{{squirrel.Date}}</td>
		   <td>{{squirrel.Running}}</td>
	   </tr>
	{% endfor %}

	</table>
</body>
</html>
